<h1>app.component.html</h1>

<nav>
    | <a routerLink='Users' routerLinkAction='active'>Users</a> |
      <a routerLink='Comments' routerLinkAction='active'>Comments</a> |
      <a routerLink='Albums' routerLinkAction='active'>Albums</a> |
      <a routerLink='Photos' routerLinkAction ='active'>Photos</a> |
      <a routerLink='ToDos' routerLinkAction = 'active'>ToDos</a> |
      <a routerLink='UserByObservable' routerLinkAction='active'>User Observable</a> |
      <a routerLink='ObserverableComments' routerLinkActon='active'>Comments Observable</a> |
      <a routerLink='AlbumsByObservable' routerLinkAction='active'>Albums Observable</a> |
      <a routerLink='PhotosByObservable' routerLinkAction='active'>Photos Observable</a> |
      <a routerLink='ToDosByObservable' routerLinkAction='active'>ToDos Observable</a>
      
</nav>

<router-outlet></router-outlet>