<h1>user-observable.html</h1>

<h3>Data Straight from Observable via user-observable.component.ts constructor </h3>
<table border ="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Street</th>
        <th>Suite</th>
        <th>City</th>
    </tr>
    <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.address.street}}</td>
        <td>{{user.address.suite}}</td>
        <td>{{user.address.city}}</td>
    </tr>
</table>


<h3>Button click</h3>

<button (click)="FetchUserDetailsByObservable()">Fetch User Detail by Observable</button>
<br/><br/>
<table border ="1" *ngIf="showHeader">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Street</th>
        <th>Suite</th>
        <th>City</th>
    </tr>
    <tr *ngFor="let user of userFetch">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.address.street}}</td>
        <td>{{user.address.suite}}</td>
        <td>{{user.address.city}}</td>
    </tr>
</table>

<h1>User Detail by using Button click and passing ID in Input field</h1>
<input type="text" [(ngModel)]="id">
<button (click)="getUserByObservableById(id)">Fetch user by Id</button>
<br/><br/>

<table border="1" *ngIf="showHeaderById">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Street</th>
        <th>Suite</th>
        <th>City</th>
    </tr>
    <tr *ngFor="let user of userFetchById">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.address.street}}</td>
        <td>{{user.address.suite}}</td>
        <td>{{user.address.city}}</td>
    </tr>
</table>